<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spike.my.shop.web.admin.dao.TbUserDao">
    <sql id="TbUserColumns">
        a.id,
        a.username,
        a.password,
        a.phone,
        a.email,
        a.created,
        a.updated
    </sql>
    
    <select id="selectAll" resultType="TbUser">
        SELECT
            <include refid="TbUserColumns"/>
        FROM
            tb_user AS a
    </select>
    
    <select id="getByEmail" resultType="TbUser">
        SELECT
            <include refid="TbUserColumns"/>
        FROM
            tb_user AS a
        WHERE
            a.email = #{email}
    </select>

    <insert id="insertTbUser">
        INSERT INTO tb_user (
            username,
            password,
            email,
            phone,
            created,
            updated
        )
        VALUES (
            #{username},
            #{password},
            #{email},
            #{phone},
            #{created},
            #{updated}
        )
    </insert>

    <update id="update">
        UPDATE tb_user SET
            username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone},
            updated = #{updated}
        WHERE
            id = #{id}
    </update>

    <select id="getById" resultType="TbUser">
        SELECT
            <include refid="TbUserColumns"/>
        FROM
            tb_user a
        WHERE
            a.id = #{id}
    </select>

    <delete id="delete">
        DELETE FROM
            tb_user
        WHERE
            id IN
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="page" resultType="TbUser" parameterType="Map">
        SELECT
            <include refid="TbUserColumns"/>
        FROM
            tb_user AS a
        <where>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND a.username like CONCAT ('%', #{tbUser.username}, '%')
            </if>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND a.email like CONCAT ('%', #{tbUser.email}, '%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND a.phone like CONCAT ('%', #{tbUser.phone}, '%')
            </if>
        </where>
        limit #{start}, #{length}
    </select>

    <select id="count" resultType="Integer">
        SELECT
            COUNT(*)
        FROM
            tb_user AS a
        <where>
            <if test="username != null and username != ''">
                AND a.username like CONCAT ('%', #{username}, '%')
            </if>
            <if test="email != null and email != ''">
                AND a.email like CONCAT ('%', #{email}, '%')
            </if>
            <if test="phone != null and phone != ''">
                AND a.phone like CONCAT ('%', #{phone}, '%')
            </if>
        </where>
    </select>
</mapper>